<h3>Crear Persona</h3>
<hr>
<form>
    <div class="row">
        <div class="col">
            <section>
                <label for="name">Nombre: </label>
                <input name="name" type="text" [(ngModel)]="personaDTO.nombres" placeholder="nombre" />
            </section>
            <br>
            <section>
                <label for="name">Apellido: </label>
                <input name="name" type="text" [(ngModel)]="personaDTO.apellidos" placeholder="apellido" />
            </section>
            <br>
            <section>
                <label for="name">tipoIdentificacion: </label>
                <input name="name" type="text" [(ngModel)]="personaDTO.tipoIdentificacion"
                    placeholder="tipoIdentificacion" />
            </section>
            <br>
            <section>
                <label for="name">numeroIdentificacion: </label>
                <input name="name" type="text" [(ngModel)]="personaDTO.numeroIdentificacion"
                    placeholder="numeroIdentificacion" />
            </section>
        </div>
        <div class="col">
            <section>
                <label for="name">edad: </label>
                <input name="name" type="text" [(ngModel)]="personaDTO.edad" placeholder="edad" />
            </section>
            <br>
            <section>
                <label for="name">numeroTelefonico: </label>
                <input name="name" type="text" [(ngModel)]="personaDTO.numeroTelefonico"
                    placeholder="numeroTelefonico" />
            </section>
            <br>
            <section>
                <label for="isMayor">Es comprador</label>
                <input name="isVIP" type="checkbox" [(ngModel)]="personaDTO.comprador" />
            </section>
            <br>
            <section>
                <label for="isMayor">Es vendedor</label>
                <input name="isVIP" type="checkbox" [(ngModel)]="personaDTO.vendedor" />
            </section>
        </div>
    </div>
    <input value="Guardar" type="submit" (click)="crearPersona()" />
    <br>
    <br>
    <input value="Consultar" type="submit" (click)="consultarPersonas()" />
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>TipoIdentificacion</th>
                <th>NumeroIdentificacion</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>NumeroTelefonico</th>
                <th>Edad</th>
            </tr>
        </thead>

        <tr *ngFor="let personas of personaDTOs">
            <td>{{personas.tipoIdentificacion}}</td>
            <td>{{personas.numeroIdentificacion}}</td>
            <td>{{personas.nombres}}</td>
            <td>{{personas.apellidos}}</td>
            <td>{{personas.numeroTelefonico}}</td>
            <td>{{personas.edad}}</td>
        </tr>
    </table>
</form>