<header class="sticky">
  <h1>{{title}}</h1>
  <a routerLink="personas-crear"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Crear</span>
  </a>
</header>

<header class="sticky">
  <a routerLink="componente-apoyo"
     routerLinkActive="router-link-active"
     class="button">
     <p>
    <span>Apoyo</span>
  </a>
</header>

<header class="sticky">
    <a routerLink="personas-gestion"
       routerLinkActive="router-link-active"
       class="button">
       <p>
      <span>Gestionar Personas</span>
    </a>
  </header>

  <header class="sticky">
      <a routerLink="personas-edicion"
         routerLinkActive="router-link-active"
         class="button">
         <p>
        <span>Editar persona</span>
      </a>
    </header>