<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">{{ header }}</h2>
        </div>
    </div>

    <div class="row">
            <form>

        <div class="col-sm-6">
        
            <div>
                <label for="name">Nombre Persona: </label>
                <br>
                <input name="name" type="text" [(ngModel)]="persona.nombre" placeholder="Nombre persona"
                    autocomplete="off" />
            </div>
            <br>
            <div>
                <label for="name">Apellido Persona: </label>
                <br>
                <input name="name" type="text" [(ngModel)]="persona.apellido" placeholder="Apellido persona"
                    autocomplete="off" />
            </div>
            <br>
            <div>
                <label for="name">Telefono Persona: </label>
                <br>
                <input name="name" type="text" [(ngModel)]="persona.numeroTelefonico" placeholder="Telefono persona"
                    autocomplete="off" />
            </div>
        </div>

        <!-- segunda columna -->
        <div class="col-sm-6">

            <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                <option value="0">Selecciona una opción</option>
                <option *ngFor="let dato of datos">
                  {{dato}}
                </option>
            </select>
            
            <p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion }}</p>
            <div>
                <label for="name">Numero de identificacion:</label>
                <br>
                <input name="name" type="text" [(ngModel)]="persona.numeroIdentificacion"
                    placeholder="Numero de identificacion" autocomplete="off" />
            </div>

            <div>
                <label for="name">Sexo Persona: </label>
                <br>
                <label class="radio-inline">
                    <input type="radio" name="optradio" checked>Femenino
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio">Masculino
                </label>
            </div>
            <div>
                <label for="name">Mayor edad Persona: </label>
                <br>
                <label class="radio-inline">
                    <input type="radio" name="optradio" checked>Si
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio">No
                </label>
            </div>

        </div>
        <input value="guardar Formulario" type="submit" (click)="guardar()" />
            </form>
    </div>
</div>